[submodule ".zsh/fast-syntax-highlighting"]
	path = .zsh/fast-syntax-highlighting
	url = git@github.com:zdharma-continuum/fast-syntax-highlighting.git
[submodule ".zsh/fast-autosuggestions"]
	path = .zsh/fast-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
