setxkbmap -layout latam
thunar --daemon &
# Dunst fails to start via systemd: https://wiki.archlinux.org/title/Dunst#Dunst_fails_to_start_via_systemd
systemctl --user import-environment DISPLAY
xrandr --dpi 96
# MPD daemon start (if no other user instance exists)
[ ! -s ~/.config/mpd/pid ] && mpd
# libinput configuration
xinput set-prop 11 307 1
xinput set-prop 11 334 1

autostart="picom randomwallpaper dwmblocks thunderbird st"

for program in $autostart; do
	pidof -s "$program" || "$program" &
done >/dev/null 2>&1
