[Desktop Entry]
Type=application
Name=mpv webcam
GenericName=webcam
GenericName[es]=cámara web
Exec=setsid mpv av://v4l2:/dev/video0 --profile=low-latency --untimed
